.card {
    box-shadow: 0  10px  20px  rgba(0,0,0,0.19), 0  6px  6px  rgba(0,0,0,0.23);
}

.login-container {
    display: flex;
    flex-flow: column wrap;
    box-sizing: border-box;
    box-shadow: 5px 5px #888888;
    padding: 10px;
    border: 1px solid;
}

button {
    width: 15opx;
    border-radius: 50px;
    background-color: #703B09;
    padding: 10px;
    margin: 10px;
    color: white;
    font-weight: bold;
}