<div class="map-control-container">
    <div class="map-control-header"></div>
    <div class="map-control-details" id="map">
        <google-map
         [zoom]="zoom"
         [center]="center"
         [options]="options"
         (mapClick)="googleMapClickHandler($event)">
            <map-marker 
             #markerElem
             *ngFor="let marker of markers"
             [position]="marker.position"
             [label]="marker.label"
             [title]="marker.title"
             [options]="marker.options"
             (mapClick)="openInfo(markerElem, marker.info)" >
            </map-marker>
            <map-polyline></map-polyline>

        <map-info-window>{{ infoContent }}</map-info-window>
        </google-map>

        <button (click)="zoomIn()">Zoom in</button>
        <button (click)="zoomOut()">Zoom out</button>
        <button (click)="logCenter()">Log center</button>
        <button (click)="addSampleMarker()">Add marker</button>
    </div>
</div>
