<div class="map-container">
    <div class="map-header">
        <h4>Welcome to the MAIN MAP component</h4>
        <button class="map-button" (click)="showMapComponent()">{{mapButtonText}}</button>
        
    </div>
    <div *ngIf="showMap; else showMapInfo" class="map-control">
        <p>Below is the control: </p>
        <!-- <app-map-control></app-map-control> -->
    </div>
</div>

<ng-template #showMapInfo>
    <p>We will do something in the absence of the component being present</p>
    <div class="search-form">
        <form [formGroup]="showInMapForm" (ngSubmit)="onSubmit()">
            <input type = "text" name = "startDt" placeholder = "dd/mm/yyyy hh:mm" formControlName="startDt" >
            <br/>
            
            <input type = "text" name = "endDt" placeholder = "dd/mm/yyyy hh:mm" formControlName="endDt" >
            <br/>
            
            <input type = "submit" value = "SHOW IN MAP">
          </form>
    </div>
</ng-template>
